.articleContainer {
    display: flex;
    align-items: stretch;
    margin: 10px;
}

.block {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    color: black;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
}

.info {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
}

h2 {
    margin: 0;
}

p {
    margin: 5px;
}

.tag {
    display: inline-flex;
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 0.9em;
    align-items: center;
    width: fit-content;
}

.favoriteButtonContainer {
    position: absolute;
    top: 5px;
    right: 5px;
}

.addFavoriteButton {
    width: 25px;
    height: 25px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.errorMessage {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-bottom: 15px;
}

.successMessage {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    margin-bottom: 15px;
}