.block {
    display: flex;
    flex-direction: column;
    color: black;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
}

.info {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px; /* Отступ снизу для разделения с заголовком */
}

h2 {
    margin: 0; /* Убираем отступы у заголовка */
}

p {
    margin: 5px;
}

.tag {
    display: inline-flex;  /* Гибкий контейнер, адаптирующийся к размеру текста */
    background-color: blue; /* Синий фон */
    color: white;           /* Белый текст */
    padding: 5px 10px;     /* Отступы */
    border-radius: 5px;    /* Закругленные углы */
    margin-top: 10px;      /* Отступ сверху */
    font-size: 0.9em;      /* Размер шрифта */
    align-items: center;   /* Выравнивание текста по центру */
    width: fit-content;    /* Ширина адаптируется под содержимое */
}
